# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\nicoesterby\AppData\Roaming\.minecraft\saves\MobHunt\datapacks\MobHunt\data\mobhunt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
